NODE_ENV=development
PORT=3000
GRPC_PORT=50051
CORS_ORIGIN=*           # "*" for any origin or comma-separated list of origins

# PostgreSQL connection string
DATABASE_URL=postgresql://user:password@localhost:5432/snapper?schema=public
DATABASE_LOG_LEVEL=warn         # optional: info|warn|error
DATABASE_LOG_QUERIES=false      # optional: true|false

# External gRPC services
PROJECTS_GRPC_URL=localhost:50052
VARIABLES_GRPC_URL=localhost:50053
ARTIFACT_STORAGE_GRPC_URL=localhost:50054
EVENTS_GRPC_URL=localhost:50055

