NODE_ENV=development
PORT=3000
GRPC_PORT=50051
CORS_ORIGIN=*           # "*" for any origin or comma-separated list of origins

# PostgreSQL connection string
DATABASE_URL=postgresql://user:password@localhost:5432/snapper?schema=public
DATABASE_LOG_LEVEL=warn         # optional
DATABASE_LOG_QUERIES=false      # optional

